<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <div class="modal">
        <div class="modal-content">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <h2>Verify OTP</h2>
            <form method="POST" action="{% url 'verify_otp' %}">
                {% csrf_token %}
                <input type="text" name="entered_otp"  placeholder="Enter OTP" required>
                <button type="submit">Verify OTP</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
