<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Variants</title>
</head>
<body>
    <h1>Variants for {{ product.product_name }}</h1>
    <a href="{% url 'product:product_variant_create' product.id %}">Create Variant</a>
    <ul>
        {% for variant in variants %}
        <li>
            {{ variant.name }} - {{ variant.price }} - {{ variant.stock }}
            <a href="{% url 'product:product_variant_update' product.id variant.id %}">Edit</a>
            <a href="{% url 'product:product_variant_delete' product.id variant.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
